<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Submitted info</h1>
	<h2>Name:<%=my_data.name%></h2>
	<h2>Location:<%=my_data.location%></h2>
	<h2>Language:<%=my_data.language%></h2>
	<h2>Comment:<%=my_data.comment%></h2>
	<a href="/go_back">Go back</a>




</body>
</html>